scenes
simple\box.ray
simple\box_cyl_opaque_shadow.ray
simple\box_dist_atten.ray
simple\sphere_refract.ray
simple\cylinder_refract.ray
simple\box_cyl_transp_shadow.ray
simple\box_cyl_reflect.ray
simple\cube_transparent.ray
simple\cyl_ambient.ray
simple\cyl_ambient_atten.ray
simple\cyl_diffuse.ray
simple\cyl_emissive.ray
simple\cyl_uncapped.ray
simple\poly-sphere.ray
simple\trimesh_cube.ray
simple\cyl_diff_spec.ray
trimeshes\box_sphere.ray
trimeshes\dragon.ray
trimeshes\chess.ray
trimeshes\mess.ray
trimeshes\mickey.ray
trimeshes\sculpt.ray
trimeshes\shell.ray
trimeshes\sierpinski.ray
trimeshes\turtle.ray
trimeshes\z-polytest.ray
more\reflection.ray
more\cone.ray
more\cylinder.ray
more\hitchcock.ray
more\sphere.ray
more\spheres.ray
more\sphere_box.ray
more\tentacles.ray