body, h1 {
	font-family: Verdana, Tahoma, sans-serif;
}

body {
	background-image: url('https://webster.cs.washington.edu/images/moviebg.png');
	font-size: 8pt;
	margin: 0;
	padding: 0;
}

#reviews, .entry{
	overflow: hidden;
}

h1 {
	text-shadow: 3px 3px #999999;
	text-align: center;
	font-size: 24pt;
}

dl {
	padding-left: 10pt;
	padding-right: 10pt;
	font-family: Arial, sans-serif;
	margin-top: 10pt;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 10pt;
}

.reviewscol {
	width: 47%;
	float: left;
	margin-left: 2%;
}

.entry {
	overflow: hidden;
	margin-bottom: 7pt;
	min-height: 105px;
}

.entry p:first-child {
	background-color: #E8DC9B;
	border: 2px solid gray;
	padding: 8px;
	font-size: 8pt;
	font-weight: bold;
	overflow: hidden;
}

.entry img {
	padding-right: 5px;
}

.entry p img {
	float: left;
}

.entry p span {
	font-style: italic;
}

#ratingheader {
	background-image: url('https://webster.cs.washington.edu/images/rottenlargebg.png');
	font-size: 48pt;
	font-weight: bold;
	color: red;
	text-align: left;
	margin-left: 0;
}

#ratingheader img {
	vertical-align: text-bottom;
}

#content {
	width: 800px;
	margin: 0 auto;
	border: 4px solid gray;
}

#reviews {
	width: 550px;
}

#sidebar {
	float: right;
	width: 250px;
	font-size: 8pt;
	background-color: #A2B964;
	/*padding: 10pt;*/
}

#header {
	text-align: center;
	height: 50px;
	background-image: url('https://webster.cs.washington.edu/images/rancidbannerbg.png');
}

#footer {
	clear: both;
}
